//
   Created by feng on 2016/11/21.
footer.page-foot
    .container
        .page-footer
            p hazeCMS © 版权所有 2016-2017 by FENG
            small
                != site.foot_info
                | #{site.foot_icp} | author feng

