//
   Created by feng on 2016/11/21.
footer.page-foot
    .container
        .page-footer
            p WorldPress
            small
                a(href='http://semfeng.com') semfeng.com
                |  by feng
