meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=Edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/javascripts/common.bundle.js')
script(src='/javascripts/main.bundle.js')
script
    | var duoshuoQuery = {short_name:"semfeng"};