//
   Created by feng on 2016/11/29.

#tipModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='tipModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h4#tipModalLabel.modal-title 等待数据加载...
            .modal-body Loading...
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') 确定

#minTip.main-tip-bg
    .main-tip
        p loading...
        span.iconfont.icon-error.js-close
