//
   Created by feng on 2016/11/4.

extends block/frame
block adminContent
    .admin-con
        .breadcrumb
            li.on 编辑文章：#{content.title}
        hr
        .edit-article
            .row
                .col-sm-2
                .col-sm-8
                .col-sm-2
