@import "custom.css";
@import "jquery-confirm.css";
@font-face {
    font-family: 'iconfont';  /* project id 123115 */
    src: url('//at.alicdn.com/t/font_dlo6wmuqim86w29.eot');
    src: url('//at.alicdn.com/t/font_dlo6wmuqim86w29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_dlo6wmuqim86w29.woff') format('woff'),
    url('//at.alicdn.com/t/font_dlo6wmuqim86w29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_dlo6wmuqim86w29.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
    font-weight:200;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-caret:before { content: "\e600"; }
.icon-discuss:before { content: "\e603"; }
.icon-fangdajing:before { content: "\e601"; }
.icon-share:before { content: "\e602"; }
.icon-rili:before { content: "\e604"; }
.icon-tag:before { content: "\e608"; }
.icon-qq:before { content: "\e606"; }
.icon-lanmu:before { content: "\e609"; }
.icon-date:before { content: "\e607"; }
.icon-chacha:before { content: "\e605"; }
.icon-riqi:before { content: "\e60b"; }
.icon-quit:before{content:'\e69e';}
.icon-admin:before{content:'\e6c4';}
.icon-menu:before{content:'\e745';}
.icon-setting:before{content:'\e697'}
.icon-shu:before{content:'\e6e7'}
.icon-article:before{content:'\e61e'}
.icon-col:before{content:'\e61c'}
.icon-comment:before{content:'\e60a'}
.icon-web:before{content:'\e62c'}
.icon-system:before{content:'\e666'}
.icon-help:before{content:'\e733'}
.icon-dui:before{content:'\e615'}
.icon-error:before{content:'\e64d'}
.icon-must:before{content:'\e652'}
.icon-back:before{content:'\e67b'}
.icon-user:before{content:'\e60c'}
.icon-img:before{content:'\e60d'}

@media(min-width: 768px){
    .nav-search{margin:13px;width:215px;text-align: center;padding-left:13px;border-left:1px solid #3c3c3c;white-space: nowrap;overflow: hidden;display:block !important;float:right;}
    .main-list{margin-top:25px;}
    .row {margin-left: 0; margin-right: 0;}
    /*banner 头条*/
    .main-banner{padding-bottom:35%;}
    .banner-bg{position: absolute !important;}
    .banner-des{display:table;}
    .main-title{display:table-cell;}
    .banner-bg>img{position:absolute !important;opacity: .5;}
    .main-banner:hover .banner-bg>img{-webkit-transform: scale(1.1); transform: scale(1.1);}
    .main-title{text-align: center !important;background:none !important;}
    .main-title h1{color:#fff !important;font-size:36px !important;margin-bottom:20px;}
    /*移动搜索*/
    .mobile-search{display:none;}
    .mobile-search-form{display:none;}
    /*文章详情*/
    .article-des-title h1{font-size:36px !important;}
    .article-des-title p{font-size:20px !important;}

    /*详情描述*/
    .article-info-l{display:block !important;}
    .article-info-l p{margin:0;float:left;padding-right:20px;position: relative;padding-left:40px;}
    .article-info-r p{margin:0;float:right;padding-right:20px;}
    .article-info-r p+p{border-left: 0 !important;}
    .article-info-l .iconfont{font-size:30px;position: absolute;left:0;top:-2px;color:#666;}
    .article-info p a:hover,.article-info p a:focus{color:#000;text-decoration: none;}

    .article-info.fixed{position:fixed;background-color:#fff;border-top:1px solid #ddd;left:0;bottom:0;z-index:1000;box-shadow: 0 0 5px #ccc;padding:0 15px;}
    .article-info.fixed .article-info-l{width:80%;float:left;}
    .article-info.fixed .article-info-r{width:20%;border-left:1px solid #ddd;}
}

.header{margin-bottom:61px;}
/*.main-banner{position: relative;background-color:rgba(0,0,0,.8);display:block;padding-bottom:35%;overflow:hidden;}
.banner-bg{position: absolute;top:0;left:0;right:0;bottom:0;}
.banner-bg>img{position:absolute;width:100%;height:100%;opacity: .3;-webkit-transition: all .5s ease-out;transition: all .5s ease-out;}
.main-banner:hover .banner-bg>img{-webkit-transform: scale(1.1); transform: scale(1.1);}
.banner-des{display:table;height:100%;width:100%;}
.main-title{text-align: center;color:#fff;z-index: 1000;position:relative;display:table-cell;vertical-align: middle;}*/

.main-banner{position: relative;background-color:rgba(0,0,0,.8);display:block;overflow:hidden;}
.banner-bg{position: relative;top:0;left:0;right:0;bottom:0;}
.banner-bg>img{position:relative;width:100%;height:100%;-webkit-transition: all .5s ease-out;transition: all .5s ease-out;}
.main-banner:hover .banner-bg>img{-webkit-transform: scale(1.1); transform: scale(1.1);}
.main-banner:hover{text-decoration: none;}
.banner-des{height:100%;width:100%;}
.main-title{text-align: left;z-index: 1000;position:relative;vertical-align: middle;background-color:#fff;padding:0 20px;overflow:hidden;}
.main-title h1{font-size:24px;color:#000;margin:0;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;height:50px;line-height:50px;}
.main-title>p{margin:10px 0 30px;}
.main-title>p>small{color:#ababab;font-size:16px;margin:0 5px;}
.main-title p small em{padding-left:5px;}

/*下拉菜单*/
.navbar-dropdown-menu{background-color:#080808;text-align: center;}
.navbar-dropdown-menu > li + li{border-top:1px solid #191919;}
.navbar-dropdown-menu > li > a{padding:15px 0;color:#9d9d9d;-webkit-transition: all ease .3s;
-moz-transition: all ease .3s;
transition: all ease .3s;}
.navbar-dropdown-menu > li > a:hover,.navbar-dropdown-menu > li > a:focus{background-color:#171717;color:#fff;}

.dropdown .caret{-webkit-transition: all .3s;
-moz-transition: all .3s;
transition: all .3s;}
.dropdown.open .caret{-webkit-transform: rotate(180deg); transform: rotate(180deg);}

.nav-search{display:none;}
.nav-search-form{position: relative;display:inline-block;}
.nav-search-form .form-group{margin-bottom:0;}
.nav-search-form .form-control{background:none;border-color:#9d9d9d;color:#fff;width:34px;visibility: hidden;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.nav-search-btn{position: absolute;right:0;top: 0;background:none;color:#9d9d9d;-webkit-transition: all .5s ease;
transition: all .5s ease;
    border: 0;
    height: 34px;
    width: 34px;}

.nav-search-form.active .form-control,.nav-search-form:hover .form-control,.nav-search-form:focus .form-control{width:200px;visibility: visible;border-color:#9d9d9d;background-color:#353535;}
.nav-search-form.active .nav-search-btn,.nav-search-form:hover .nav-search-btn{border-left: 1px solid #9d9d9d;color:#fff;}

.nav-search-share{display: inline-block;-webkit-transition: all .5s ease;border-radius: 4px;
transition: all .5s ease;
    line-height:32px;color:#9d9d9d;
    height: 34px;
    width: 34px;}
.nav-search-share:hover,.nav-search-share:focus{border:1px solid #9d9d9d;color:#fff;text-decoration: none;}


/*遮罩层*/
.shade-full{position: fixed;background-color:rgba(0,0,0,.75);width:100%;height:100%;left:0;top:0;z-index: 1000;display: none;}
.shade-full.show{display:block;}

/*移动搜索*/
.mobile-search{position:absolute;top:15px;left:15px;font-size:20px;z-index:1050;opacity: 1;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
transition: all .3s ease-in;}
.mobile-search.hide{opacity: 0;}
.mobile-search span{color:#9d9d9d;padding:0 10px;}
.mobile-search-form{position:absolute;z-index:1040;padding:14px 0;top:60px;opacity:0;-webkit-transform: translate(0,0); transform: translate(0,0);
-webkit-transition: all .5s ease-out;
-moz-transition: all .5s ease-out;
transition: all .5s ease-out;}
.mobile-search-form.show{opacity: 1;-webkit-transform: translate(0,60px); transform: translate(0,60px);}
.mobile-search-form .form-group{margin-bottom:0;}
.mobile-search-form .form-control{border-radius: 17px;border-color:#fff;background-color:#353535;padding-right:50px;color:#fff;}
.mobile-search-btn{position:absolute;top: 17px;
    right: 10px;
    background: none;
    border: 0;
    color: #9d9d9d;
    font-size: 18px;}

/*移动胶囊导航*/
.mobile-nav{position: fixed;width:200px;right:-200px;top:60px;bottom:0;z-index:2000;-webkit-transform:translate(0,0);transform: translate(0,0);-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
transition: all .3s ease;background-color:#080808;}

.mobile-nav.in{-webkit-transform:translate(-200px,0);transform: translate(-200px,0);}

.navbar-toggle{height:44px;width:44px;}
.navbar-toggle,.navbar-toggle .icon-bar{-webkit-transition: all .3s ease;
transition: all .3s ease;}
.navbar-toggle.open{border-radius: 50%;}
.navbar-toggle.open .icon-bar:nth-child(1){margin-top: 5px;-webkit-transform: rotate(-225deg);transform: rotate(-225deg);}
.navbar-toggle.open .icon-bar:nth-child(2){opacity: 0;}
.navbar-toggle.open .icon-bar:nth-child(3){margin-top:-7px;margin-bottom:6px;-webkit-transform: rotate(225deg);transform: rotate(225deg);}

.mobile-nav > ul > li > .nav-stacked a{padding-left:40px;}
.mobile-nav > ul > li{border-top:1px solid #191919;}
.mobile-nav > ul > li a{color:#9d9d9d;-webkit-transition: background .3s;transition: background .3s;}
.mobile-nav > ul li a:hover,.mobile-nav > ul li a:focus,.mobile-nav > ul li.active a:hover,.mobile-nav > ul li.active a:focus
{border-left:4px solid #00c5ff;margin-left:-4px;background-color:#171717;color:#fff;}
.mobile-nav > ul li.active a{background-color:#171717;color:#fff;}

/*主内容列表*/
.main-list{margin-bottom:25px;overflow:hidden;}
.main-list-item{overflow: hidden;display: block;position: relative;margin:15px 0;background-color:#fff;-webkit-transition: all .5s;
transition: all .5s;}
.main-list-item:hover,.main-list-item:focus{text-decoration: none;box-shadow: 0 0 10px 5px #D0D0D0;-webkit-transform:translate3d(0,-2px,0); transform: translate3d(0,-2px,0);}
.list-img{position:relative;overflow:hidden;padding-bottom:57%;}
.list-img img{position: absolute;left:0;top:0;width:100%;height:100%;}
.list-con{overflow:hidden;padding:0 20px;position:relative;}
.list-con h3{color:#000;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;margin:0;line-height:50px;height:50px;font-weight:200;}
.list-con p{color:#ababab;margin:10px 0 30px;}
.list-con-des small{padding-right:10px;font-size:16px;position: relative;}
.list-con-des small .iconfont{padding-right: 3px;}
.main-list-item:before{content: '';position:absolute;-webkit-transition: all .3s;width:0;border-bottom:1px solid #00c5ff;left:50%;
transition: all .3s;bottom:0;}
.main-list-item:after{content: '';position:absolute;-webkit-transition: all .3s;width:0;border-bottom:1px solid #00c5ff;right:50%;
transition: all .3s;bottom:0;}
.main-list-item:hover:before,.main-list-item:hover:after{width:50%;}
.main-list-item:hover h3,.main-list-item:hover h3{color:#696969;}

/*more*/
.page-more{padding-left:15px;padding-right:15px;padding-top:15px;}

/*page foot*/
.page-foot{background-color:#F6F5F5;border-top:1px solid #eee;padding:10px 0;}
.page-footer{text-align: center;}

/*文章详情页*/
.article-title{position: relative;background-color:rgba(0,0,0,.8);display:block;overflow:hidden;padding-bottom:35%;}
.article-title>img{position:absolute;top:0;left:0;width:100%;height:100%;opacity:.5;}
.article-des{position:absolute;top:0;left:0;bottom:0;right:0;}
.article-des .container{display:table;height:100%;text-align: center;}
.article-des-title{display:table-cell;vertical-align: middle;}
.article-des-title h1{margin-top:0;color:#fff;font-size:22px;}
.article-des-title p{color:#ababab;font-size:16px;}
.article-des-title p small{margin:0 5px;}
.article-des-title p small em{padding-left:5px;}

.article-con{padding:50px 0 20px;font-size:16px;line-height:1.6em;position: relative;}
/*详情描述*/
.article-info{
    /*position: absolute;*/
    width: 100%;
    bottom: 0;
    overflow: hidden;
    /*height: 120px;*/
}
.article-info-l,.article-info-r{overflow:hidden;line-height:50px;display:table;width:100%;}
.article-info-l{display:none;}
.article-info-r>p{display:table-cell;text-align: center;}
.article-info p,.article-info p a{color:#666;}
.article-tag a{background-color: #74A5C4;
    color: #f6f6f6 !important;
    margin: 0 3px;
    padding: 3px 8px;
    border-radius: 4px;}
.article-tag a:hover,.article-tag a:focus{background-color: #86bcdb;}
.article-info-r>p a{display:block;}
.article-info-r>p + p{border-left:1px solid #eee;}


/*相关推荐*/
.article-relate{overflow:hidden;border-top:1px solid #ddd;}
.article-relate-con{margin-left:-15px;margin-right:-15px;margin-bottom:20px;}
.article-relate-con a{position: relative;display:block;background-color: #d4d4d4;-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;}
.article-relate-con a h4{color:#000;overflow:hidden;white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;}
.article-relate-con a:hover,.article-relate-con a:focus{-webkit-transform: translate(0,-2px); transform: translate(0,-2px);text-decoration: none;}
.article-relate-con img{width:100%;height:100%;position: absolute;top:0;left:0;}

/*tag page*/
.tag-page{padding:15px;}
.tag-page>ul{list-style:none;padding:0;margin:0;}
.tag-page>ul li{display:inline-block;font-size:1.2em;padding:0 5px;}
.tag-page>ul li>a{background-color:#00c5ff;color:#fff;padding:8px 12px;}
.tag-page>ul li>a:hover,.tag-page>ul li>a:focus{text-decoration: none;}

/*通用tip*/
.main-tip-bg{position:absolute;bottom:100%;width:100%;opacity:0; text-align: center;}

.main-tip{max-width:500px;display:inline-block;background-color:#293038;position:relative;}
.main-tip>p{padding:10px 40px 10px 20px;margin:0;color:#fff;}
.main-tip>span.iconfont{position:absolute;right:10px;color:#fff;top:10px;cursor: pointer;}
.showTip{
    -webkit-animation:showTip .3s both;
    -o-animation:showTip .3s both;
    animation:showTip .3s both;}
.hideTip{
    -webkit-animation:hideTip .3s;
    -o-animation:hideTip .3s;
    animation:hideTip .3s;}

@keyframes showTip {
    0%{bottom:100%;opacity:0;}
    70%{bottom:85%;opacity:0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);}
    100%{bottom:85%;opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);}
}
@-webkit-keyframes showTip {
    0%{bottom:100%;opacity:0;}
    70%{bottom:85%;opacity:0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);}
    100%{bottom:85%;opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);}
}
@keyframes hideTip {
    100%{bottom:100%;opacity:0;}
    30%{bottom:85%;opacity:0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);}
    0%{bottom:85%;opacity: 1;}
}
@-webkit-keyframes hideTip {
    100%{bottom:100%;opacity:0;}
    30%{bottom:85%;opacity:0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);}
    0%{bottom:85%;opacity: 1;}
}

.w-p10{width:10%;}
.w-p20{width:20%;}