@import "webuploader.css";
body{overflow:hidden;}
/*后台frame*/
.frame-con{position:absolute;top:50px;bottom:0;left:0;right:0;}

.frame-left{position:absolute;left:0;top:0;bottom:0;width:300px;background-color:#293038;
    -webkit-box-shadow: 1px 0 1px #ccc;
    -moz-box-shadow: 1px 0 1px #ccc;
    box-shadow: 1px 0 1px #ccc;}
.frame-layout{width:200px;overflow-y:auto;overflow-x:hidden;height:100%;}
.frame-right{position:absolute;right:0;left:180px;bottom:0;top:0;background-color:#fff;overflow-x:hidden;}
.has-icon .iconfont{padding-left:5px;}

/*登录注册页面*/
.login{position:absolute;width:100%;left:0;top:50px;bottom:0;text-align: center;background:url('../images/loginbg.png') no-repeat center;}
.login:before{content:'';display:inline-block;height:100%;width:0;vertical-align: middle;}
.login-panel{display:inline-block;vertical-align: middle;width:350px;margin-top:-50px;padding:15px;background-color:rgba(255,255,255,.5);}
.login-panel .panel-title{margin-top:0;margin-bottom:15px;}
.login-panel .panel-title small{display:block;margin-top:10px;}
.login-form .form-control{background:rgba(255,255,255,.6);border-color:#5CB85C;}

/*用户中心*/
.admin-con{padding-left:15px;padding-right:15px;}
.admin-header{position:absolute;background-color:#09C;width:100%;}
.navbar-admin{border:0;margin-bottom:0;}
.navbar-admin>.navbar-nav>li>a{padding-top:15px;padding-bottom:15px;color:#fff;}
.navbar-admin>.navbar-nav>li+li{border-left:1px solid #008fbf;}
.navbar-admin>.navbar-nav>li>a:hover,.navbar-admin>.navbar-nav>li>a:focus{background-color:#008fbf;}
.navbar-admin .dropdown.open a{background-color:#fff !important;color:#333;position:relative;}
/*.navbar-admin .dropdown .caret{margin-left:5px;}*/
.navbar-admin .dropdown.open>.dropdown-menu{border:0;border-top:1px solid #eaedf1;margin-top:-1px;}
.navbar-admin .dropdown.open>.dropdown-menu>li>a{background-color:#fff;color:#333;padding:10px 20px;}
.navbar-admin .dropdown.open>.dropdown-menu>li+li{border-top:1px solid #F2F2F2;}
.navbar-admin .dropdown.open>.dropdown-menu>li>a:hover,.navbar-admin .dropdown.open>.dropdown-menu>li>a:focus{background-color:#f5f5f5 !important;}
/*.has-menu-icon{padding-left:40px !important;}*/
.has-menu-icon .iconfont{margin-right:10px;font-size:18px;}

.min-menu .frame-right{left:50px !important;}
.min-menu .admin-menu{width:50px;}
.min-menu .slide-title span,.min-menu .slide-menu span{display:none !important;}
.min-menu .slide-menu li a b{font-size:18px !important;}
.admin-menu{background-color:#293038;width:180px;}
.admin-menu-title{margin:0;text-align: center;padding:5px 0;color:#aeb9c2;background-color:#394555;}

.slide-title{background-color:#22282e;line-height:40px;cursor: pointer;color:#fff;}
.slide-title:hover{background-color:#414d5c;}
.slide-title b.caret{margin:0 8px 0 20px;
    -webkit-transition: all .3s;
    transition: all .3s;}
.slide-title.on b.caret{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);}
.slide-title span.iconfont{width:45px;text-align: center;}
.slide-menu{padding:0;margin:0;}
.slide-menu li a{display:block;height:40px;line-height:40px;}
.slide-menu li:hover a,.slide-menu li:focus a{background-color:#37424f;}
.slide-menu li.active a{background-color:#0099cc;color:#fff;}
.slide-menu li.active a b{color:#fff;}
.slide-menu li a span{color:#fff;display:inline-block;}
.slide-menu li a b{color:#aeb9c2;display:inline-block;width:50px;text-align: center;}

/*siteInfo*/
.add-form{margin-top:20px;}
.add-form label>em{color: #f00;padding-right:5px;}
.add-form .help-block .iconfont{margin-right:10px;}

.site-info-label{text-align: right;}

/*话题列表*/
.tag-list{margin-bottom:20px;}
.tags-table caption{padding:8px;text-align: left;}
.tags-table td>small{margin-left:10px;color:#ccc;}
.tags-table td,.tags-table th{vertical-align: middle !important;}
.tags-table td>a{padding:1px 6px;}
.tags-table tr:hover,.tags-table tr:focus{background-color:#EEEEEE;}
.tag-edit{display:none;background-color:#e6e6e6;}
.tag-edit .input-group{width:100%;}

/*文章列表*/
.admin-list{margin-bottom:25px;}
.article-list{margin-bottom:0;}
.article-list caption{padding:8px;text-align: left;}
.article-list>thead>tr>th{text-align: left;}
.article-list>tbody>tr>td{border:0 !important;}
.article-list>tbody>tr>td p{margin-bottom:0;margin-top:5px;visibility: hidden;}
.article-list>tbody>tr:hover,.article-list>tbody>tr:focus{background-color:#eee;}
.article-list>tbody>tr:hover>td p,.article-list>tbody>tr:focus>td p{visibility: visible;}
.article-list>tbody>tr>td p a{margin-right:10px;}
.page-break{text-align: right;}
.page-break p{margin:20px 0;padding:6px;color:#ccc;}

/*编辑文章*/
.edit-article{margin-bottom:25px;}
.edit-article-right{padding-right:0;border-left:1px solid #eee;}
.edit-article-right h4{margin-top:0;}
.edit-right-pic{list-style:none;padding-left:0;}
.edit-right-pic>li{position:relative;padding-top:60%;background-color:#ccc;}
.edit-right-pic>li>img{position:absolute;top:0;left:0;width:100%;height:100%;}
.edit-right-pic>li>p{position:absolute;bottom:0;margin:0;padding:10px;background:rgba(0,0,0,.8);width:100%;color:#fff;overflow:hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;}
.edit-right-con .input-group{margin-bottom:10px;}

.edit-right-pic>li .process{position:absolute;top:0;width:100%;text-align: center;}
