doctype html
html
    head
        include block/head
        title= title
        meta(name='keywords' content='#{keywords}')
        meta(name='description' content='#{description}')
    body
        // 遮罩
        .shade-full.js-shade
        header.header
            nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
                .navbar-heading
                    button#mobileNavBtn.navbar-toggle(type='button')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') #{title}
                // search
                .nav-search
                    form#mainSearch.nav-search-form(role='form', method='POST', action='#')
                        .form-group
                            input.form-control(type='text', placeholder='输入搜索')
                        button.nav-search-btn(type='submit')
                            span.iconfont.icon-fangdajing
                    a.nav-search-share(href='#')
                        span.iconfont.icon-qq
                    a.nav-search-share(href='#')
                        span.iconfont.icon-share
                // main nav
                #feng-navbar-collapse.collapse.navbar-collapse.pull-right
                    ul.nav.navbar-nav
                        li.active
                            a(href='#') 首页
                        li
                            a(href='#') 栏目1
                        li.dropdown.js-dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | 下拉菜单栏目
                                b.caret
                            ul.dropdown-menu.navbar-dropdown-menu
                                li
                                    a(href='#') Item1
                                li
                                    a(href='#') Item1
                                li
                                    a(href='#') Item1
                                li
                                    a(href='#') Item1
                // 移动导航
                #mobileNav.mobile-nav
                    ul.nav.nav-pills.nav-stacked
                        li
                            a(href='#') 首页
                        li
                            a(href='#') 一级栏目
                        li.active
                            a(href='#') 阿萨德
                        li
                            a(href='#') 一级栏目
                        li
                            a(href='#') 二级栏目
                            ul.nav.nav-pills.nav-stacked
                                li
                                    a(href='#') 二级二级
                                li
                                    a(href='#') 二级二级
                                li
                                    a(href='#') 二级二级
                // 移动 search
                .mobile-search.js-mobSearchIco
                    span.mob-search-ico.iconfont.icon-fangdajing
                form.mobile-search-form.col-xs-8.col-xs-offset-2.js-mobSearch(action='#', method='POST')
                    .form-group
                        input.form-control(type='text', placeholder='输入搜索')
                    button.mobile-search-btn(type='submit')
                        span.iconfont.icon-fangdajing
                // 移动 end

        block content


        // footer
        include block/footer

