doctype html
html
    head
        include ../../block/head
        script(src='/javascripts/admin.bundle.js')
        title= 'hazeCMS 后台管理系统'
    body
        header.admin-header
            nav.navbar.navbar-admin(role='navigation')
                ul.nav.navbar-nav
                    li.active
                        a(href='/admin') 管理中心
                ul.nav.navbar-nav.pull-right
                    li.active
                        a(href='/') 首页
                    li
                        a(href='#') 栏目1
                    li.dropdown.js-dropdown
                        a.dropdown-toggle.has-menu-icon(href='#', data-toggle='dropdown')
                            span.iconfont.icon-admin
                            | admin用户名
                            b.caret
                        ul.dropdown-menu
                            li
                                a.has-menu-icon(href='#')
                                    span.iconfont.icon-quit
                                    | 退出

        block content
        //模态框
        include ../../block/tipModal