//
   Created by feng on 2016/11/21.

extends adminLayout
block content
    //后台框架结构
    .frame-table
        .frame-cell.frame-left
            .admin-menu
                | 这里是菜单
        .frame-cell
            .frame-right
                block adminContent
